In [3]:
import pandas as pd
# http://tcgmetro.blob.core.windows.net/stationod/%E8%87%BA%E5%8C%97%E6%8D%B7%E9%81%8B%E6%AF%8F%E6%97%A5%E5%88%86%E6%99%82%E5%90%84%E7%AB%99OD%E6%B5%81%E9%87%8F%E7%B5%B1%E8%A8%88%E8%B3%87%E6%96%99_201701.csv
df = pd.read_csv("201701.csv")
print(df)

                 日期  時段    進站    出站  人次
0        2017-01-01   0  松山機場  松山機場   0
1        2017-01-01   0  松山機場  中山國中   0
2        2017-01-01   0  松山機場  南京復興   0
3        2017-01-01   0  松山機場  忠孝復興   0
4        2017-01-01   0  松山機場    大安   0
...             ...  ..   ...   ...  ..
7581595  2017-01-31  23    丹鳳  徐匯中學   2
7581596  2017-01-31  23    丹鳳  三和國中   1
7581597  2017-01-31  23    丹鳳  三重國小   4
7581598  2017-01-31  23    丹鳳    迴龍   0
7581599  2017-01-31  23    丹鳳    丹鳳   2

[7581600 rows x 5 columns]

In [7]:
grouped_df = df.groupby(["進站", "出站"])

# Add the values in the "人次" column for each group
result = grouped_df["人次"].sum()

# Convert the result to a dictionary
result_dict = result.to_dict()

# print(result)
result.to_excel('進站對出站統計.xlsx')
result=pd.read_excel('進站對出站統計.xlsx')
grouped_result=result.groupby(["出站"])
result_2 = grouped_result["人次"].sum()
print(result_2)
result_2.to_excel('出站統計.xlsx')
#####################################################################
grouped_df = df.groupby(["出站", "進站"])

# Add the values in the "人次" column for each group
result = grouped_df["人次"].sum()

# Convert the result to a dictionary
result_dict = result.to_dict()

# print(result)
result.to_excel('出站對進站統計.xlsx')
result=pd.read_excel('出站對進站統計.xlsx')
grouped_result=result.groupby(["進站"])
result_3 = grouped_result["人次"].sum()
print(result_3)
result_3.to_excel('進站統計.xlsx')

出站
BL板橋    1208435
七張       446348
三和國中     322093
三民高中     352052
三重       129165
         ...
頂埔       210898
頂溪      1033626
頭前庄      134667
麟光       113686
龍山寺      930735
Name: 人次, Length: 108, dtype: int64
進站
BL板橋    1134351
七張       461390
三和國中     342099
三民高中     353404
三重       128942
         ...
頂埔       223090
頂溪      1020959
頭前庄      150921
麟光       122222
龍山寺      968113
Name: 人次, Length: 108, dtype: int64

In [ ]:
selected_rows = df.loc[(df["進站"] == "松山機場") & (df["出站"] == "松山機場")]

# Add the values in the "人次" column for the selected rows
result = selected_rows["人次"].sum()
result

947

In [21]:
df.loc[(df["進站"]=="松山機場")]

                 日期  時段    進站    出站  人次
0        2017-01-01   0  松山機場  松山機場   0
1        2017-01-01   0  松山機場  中山國中   0
2        2017-01-01   0  松山機場  南京復興   0
3        2017-01-01   0  松山機場  忠孝復興   0
4        2017-01-01   0  松山機場    大安   0
...             ...  ..   ...   ...  ..
7570039  2017-01-31  23  松山機場  徐匯中學   0
7570040  2017-01-31  23  松山機場  三和國中   1
7570041  2017-01-31  23  松山機場  三重國小   0
7570042  2017-01-31  23  松山機場    迴龍   2
7570043  2017-01-31  23  松山機場    丹鳳   5

[70200 rows x 5 columns]

Collecting openpyxl
  Using cached openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
Collecting et-xmlfile
  Using cached et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10
WARNING: You are using pip version 22.0.4; however, version 22.3.1 is available.
You should consider upgrading via the '/usr/local/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.